body {
/*background: #fdfdfc !important; */
overflow-x: hidden;
font-family: 'Open Sans', sans-serif;
background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-size: 290%;
}
.page-header h1{
    margin: 0px;
}
.jumbotron {
background-color: #ffffff;
margin-top: 0px;
padding-top: 0px;
padding-bottom: 0px;
}
.thumbnail:hover img{
opacity: 0.8;
}
.thumbnail:hover .play-icon{
visibility: visible;
}
.thumbnail p{
font-size: 80%;
margin-top: 0px; 
margin-bottom: 0px;
}
.play-icon {
visibility: hidden;
position: absolute; 
width: 100%; 
height: 100%; 
top: 0;
padding-left:41%;
padding-right: 41%;
padding-top: 22.5%;
padding-bottom: 22.5%;
}
.leftNav {
font-size: 115%;
position: fixed;
overflow: hidden;
z-index: 1000;
top: 0;
bottom: 0;
width: 200px;
background-color: #262626;
transform: translate3d(-170px, 0, 0);
transition: transform 0.4s ease;
}
.active-nav nav{
transform:translate3d(0, 0, 0);
}
.leftNav ul{
list-style: none;
margin-top: 55px;
overflow: auto;
}
.leftNav ul li a{
text-decoration: none;
display: block;
text-align: center;
color: #878787;
padding: 10px;
}
li:hover a{
background-color: #FFFFFF;
}
.well-lg {
transition: transform 0.4s ease;
background: transparent;
border: 0px;
}
.active-nav .well-lg{
transform:translate3d(170px, 0, 0);
transition: transform 0.4s ease;
}
.jumbotron {
background-color: #3E3E3E;
left: 15px;
}
.jumbotron img{
padding-bottom: 30px;
}
.leftNav img {
max-height: 130px;
max-width: 130px;
}
h2 {
    font-size: 0.6em;
    display: inline-block;
}
.modal-body #question-content {
    font-size: 140%;
}
.modal-title {
    font-size: 200%;
}
#profile-pic {
    padding-left: 50px;
    padding-bottom: 0px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
#add-course-thumbnail {
    display: inline-block; 
    vertical-align: middle; 
    position: relative;
    background: transparent;
    border: none;
}
#add-course-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
#add-course-button {
    display: table; 
    margin: 0 auto;
    text-align: center;
}
#myCarousel {
    margin-top: 30px;
}
#myCarousel img {
    display:block;
    margin:auto;
}
label {
    font-size: 150%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.info-lable {
    font-size: 130%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.btn-default {
    color: #252424;
    border-color: #252424;
    border: 1px solid #252424;
    background: none;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #252424;
}
.btn-default:focus {
    color: #252424;
    border-color: #252424;
    border: 1px solid #252424;
    background: none;
}
.btn-primary {
      color: #252424;
    border-color: #252424;
    border: 1px solid #252424;
    background: none;
}
.btn-primary:hover {
  color: #ffffff;
    background-color: #252424;
}
.btn-primary:focus {
      color: #252424;
    border-color: #252424;
    border: 1px solid #252424;
    background: none;
}
.btn-danger {
      color: #d5332a;
    border-color: #d5332a;
    border: 1px solid #d5332a;
    background: none;
}
.btn-danger:hover {
  color: #ffffff;
    background-color: #d5332a;
}
.btn-danger:focus {
      color: #d5332a;
    border-color: #d5332a;
    border: 1px solid #d5332a;
    background: none;
}
a:focus {
    outline: none;
}
.btn:focus {
  outline: none;
}
.navbar {
    font-size: 17px;
}
.navbar-default .navbar-brand {
  color: #878787;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #878787;
}
.navbar-default .navbar-nav > li > a {
  color: #878787;
  
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #252424;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #878787;
    background-color: #252424;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
    background-color: #252424;
}
.navbar-default .navbar-toggle {
  border-color: #252424;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #252424;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #818181;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #878787;
}
.navbar-default .navbar-link {
  color: #878787;
}
.navbar-default .navbar-link:hover {
  color: #878787;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.1s linear;
        -moz-transition: opacity 0.1s linear;
        -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
            transition: opacity 0.1s linear;
}
.progress {
    background: #ffffff;
    border-radius: 0px;
    height: 5px;
}
.progress-bar {
    background: #252424;
}
.grid {
	padding: 0px 0px 50px 0px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
    display:flex;
    flex-wrap:wrap;
}

.grid li {
	display: inline-block;
	width: 100% auto;
	margin: 0;
	padding: 10px;
	text-align: left;
	position: relative;
}

.grid h4 {
    text-align: center;
    font-size: 130%; 
    padding-top: 2px;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #3E3E3E;
	color: #878787;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
    font-size: 120%;
}

/* Caption Style 7 */
.caption-style li:first-child { z-index: 6; }
.caption-style li:nth-child(2) { z-index: 5; }
.caption-style li:nth-child(3) { z-index: 4; }
.caption-style li:nth-child(4) { z-index: 3; }
.caption-style li:nth-child(5) { z-index: 2; }
.caption-style li:nth-child(6) { z-index: 1; }

.caption-style figure img {
	z-index: 10;
}

.caption-style figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	box-shadow: 0 0 0 0px #3E3E3E;
}

.no-touch .caption-style figure:hover figcaption,
.caption-style figure.cs-hover figcaption {
	opacity: 1;
	height: 140%;
	box-shadow: 0 0 0 10px #3E3E3E;
}

.caption-style figcaption h3 {
	margin-top: 70%;
}

.caption-style figcaption h3,
.caption-style figcaption span,
.caption-style figcaption a {
	opacity: 0;
	-webkit-transition: opacity 0s;
	-moz-transition: opacity 0s;
	transition: opacity 0s;
}

.caption-style figcaption a {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.no-touch .caption-style figure:hover figcaption h3,
.no-touch .caption-style figure:hover figcaption span,
.no-touch .caption-style figure:hover figcaption a,
.caption-style figure.cs-hover figcaption h3,
.caption-style figure.cs-hover figcaption span,
.caption-style figure.cs-hover figcaption a {
	-webkit-transition: opacity 0.1s 0.1s;
	-moz-transition: opacity 0.1s 0.1s;
	transition: opacity 0.1s 0.1s;
	opacity: 1;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}