body {
background: #f1f1f1 !important; 
overflow-x: hidden;
}
.jumbotron {
background-color: #ffffff;
}
.thumbnail:hover img{
opacity: 0.8;
}
.thumbnail:hover .play-icon{
visibility: visible;
}
.thumbnail p{
font-size: 80%;
margin-top: 0px; 
margin-bottom: 0px;
}
.play-icon {
visibility: hidden;
position: absolute; 
width: 100%; 
height: 100%; 
top: 0;
padding-left:41%;
padding-right: 41%;
padding-top: 22.5%;
padding-bottom: 22.5%;
}
.leftNav {
position: fixed;
z-index: 1000;
top: 0;
bottom: 0;
width: 200px;
background-color: #262626;
transform: translate3d(-170px, 0, 0);
transition: transform 0.4s ease;
}
.active-nav nav{
transform:translate3d(0, 0, 0);
}
.leftNav ul{
list-style: none;
margin-top: 100px;
}
.leftNav ul li a{
text-decoration: none;
display: block;
text-align: center;
color: #878787;
padding: 10px;
}
li:hover a{
background-color: #FFFFFF;
}
.well-lg {
transition: transform 0.4s ease;
}
.active-nav .well-lg{
transform:translate3d(170px, 0, 0);
transition: transform 0.4s ease;
}
.jumbotron {
background-color: #3E3E3E;
left: 15px;
}
.jumbotron img{
padding-bottom: 30px;
}
.btn-primary {
background-color: #3E3E3E;
}
.leftNav img {
max-height: 130px;
max-width: 130px;
}
h2 {
    font-size: 0.6em;
    display: inline-block;
}
.modal-body #question-content {
    font-size: 140%;
}
.modal-title {
    font-size: 200%;
}
#profile-pic {
    padding-left: 50px;
    padding-bottom: 0px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
#add-course-thumbnail {
    display: inline-block; 
    vertical-align: middle; 
    position: relative;
    background: #f5f5f5;
    border: none;
}
#add-course-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
#add-course-button {
    display: table; 
    margin: 0 auto;
    text-align: center;
}
label {
    font-size: 150%;
}