body {
overflow-x: hidden;
font-family: 'Lato', sans-serif;
}
html,body {
margin:0;
padding:0;
height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
    padding-bottom: 260px;
    padding-left: 20px;
}
#footer {
    /*margin-top: 60px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px; 
    color: #ffffff;
    background-color: #252424;
    overflow: hidden;
    width:100%;
	position:absolute;
	bottom:0;
	left:0;*/
    color: #878787;
    padding-top: 30px;
    padding-bottom: 30px;
    width:100%;
	position:absolute;
	bottom:0;
	left:0;
    background-color: #252424;
}
#footer a{
    color: #878787;
}
h1 {
    font-size: 290%;
}
.page-header h1{
    margin: 0px;
}
video#homepage-video{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    background: url(../images/coverr/White-Board.jpg) no-repeat;
}
a.darken {
    display: inline-block;
    background: #ffffff;
    background-image: url(../images/play_icon.png) no-repeat;
    padding: 0;
}
a.darken img {
    display: block;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
a.darken:hover img {
    opacity: 0.7;
    box-shadow: 7px 7px 5px #888888;
}
.caption-link{
    color: black;
}
.caption-link:hover{
    color: black;
    text-decoration: none;
}
.tb p{
font-size: 80%;
margin-top: 0px; 
margin-bottom: 0px;
}
.play-icon {
visibility: hidden;
position: absolute; 
width: 100%; 
height: 100%; 
top: 0;
padding-left:41%;
padding-right: 41%;
padding-top: 22.5%;
padding-bottom: 22.5%;
}
.leftNav {
font-size: 115%;
position: fixed;
overflow: hidden;
z-index: 1000;
top: 0;
bottom: 0;
width: 200px;
background-color: #262626;
transform: translate3d(-170px, 0, 0);
transition: transform 0.4s ease;
}
.active-nav nav{
transform:translate3d(0, 0, 0);
}
.leftNav ul{
list-style: none;
margin-top: 55px;
overflow: auto;
}
.leftNav ul li a{
text-decoration: none;
display: block;
text-align: center;
color: #878787;
padding: 10px;
}
li:hover a{
background-color: #FFFFFF;
}
.well-lg {
transition: transform 0.4s ease;
background: transparent;
border: 0px;
}
.active-nav .well-lg{
transform:translate3d(170px, 0, 0);
transition: transform 0.4s ease;
}
.jumbotron {
background-color: #3E3E3E;
left: 15px;
}
.jumbotron img{
padding-bottom: 30px;
}
.leftNav img {
max-height: 130px;
max-width: 130px;
}
h2 {
    font-size: 0.6em;
    display: inline-block;
}
.modal-body #question-content {
    font-size: 140%;
}
.modal-title {
    font-size: 200%;
}
#profile-pic {
    padding-left: 50px;
    padding-bottom: 0px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
#add-course-thumbnail {
    display: inline-block; 
    vertical-align: middle; 
    position: relative;
    background: transparent;
    border: none;
}
#add-course-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
#add-course-button {
    display: table; 
    margin: 0 auto;
    text-align: center;
}
#myCarousel {
    margin-top: 30px;
}
#myCarousel img {
    display:block;
    margin:auto;
}
label {
    font-size: 150%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none !important;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.info-lable {
    font-size: 130%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.btn-default {
    color: #252424;
    border-color: #252424;
    border: 1px solid #252424;
    background: none;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #252424;
}
.btn-default:focus {
    color: #252424;
    border-color: #252424;
    border: 1px solid #252424;
    background: none;
}
.btn-nav, .btn-nav:hover, .btn-nav:active, .btn-nav:focus {
    outline: none !important;
    color: #ffffff;
    border: none;
    background: none;
}
.btn-primary {
      color: #252424;
    border-color: #252424;
    border: 1px solid #252424;
    background: none;
}
.btn-primary:hover {
  color: #ffffff;
    background-color: #252424;
}
.btn-primary:focus {
      color: #252424;
    border-color: #252424;
    border: 1px solid #252424;
    background: none;
}
.btn-danger {
      color: #d5332a;
    border-color: #d5332a;
    border: 1px solid #d5332a;
    background: none;
}
.btn-danger:hover {
  color: #ffffff;
    background-color: #d5332a;
}
.btn-danger:focus {
      color: #d5332a;
    border-color: #d5332a;
    border: 1px solid #d5332a;
    background: none;
}
a {
    outline: none !important;
}
.btn {
  outline: none !important;
}
.list-group-item {
    outline: none !important;
}
.navbar {
    font-size: 17px;
    background-color: #252424;
    border: 0px;
}
.navbar-default {
  background-color: #252424;
  border-color: #252424;
}
.navbar-default .navbar-brand {
  color: #8c8c8c;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #8c8c8c;
}
.navbar-default .navbar-nav > li > a {
  color: #8c8c8c;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #252424;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #252424;
}
.navbar-default .navbar-toggle {
  border-color: #252424;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #252424;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #8c8c8c;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #8c8c8c;
}
.navbar-default .navbar-link {
  color: #8c8c8c;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #878787;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #252424;
  }
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.1s linear;
        -moz-transition: opacity 0.1s linear;
        -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
            transition: opacity 0.1s linear;
}
.progress {
    background: #ffffff;
    border-radius: 0px;
    height: 5px;
}
.progress-bar {
    background: #252424;
}