<!--header
<div class="page-header">
    <h1>BimoLive.com</h1>
</div>-->

<!--main body-->
<br>
<div class="container" ng-init="mainCtrl.init()">
    <div>
        <video id="homepage-video" autoplay loop>
            <source src="images/coverr/Meeting-Room.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="images/coverr/Meeting-Room.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="images/coverr/Meeting-Room.ogv" type="video/ogv" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="container"id="cover-video-caption">
            <div class="row">
                <div class="col-lg-12" style="font-size: 100%; color:#fff; text-align:center; letter-spacing: 3px;" >
                    <h1>Bimolive</h1>  
                    <h4>Learn from best</h4>
                </div>
                <div class="col-lg-12 hidden-xs" style="font-size: 120%; color:#fff; text-align:center; letter-spacing: 3px; padding-top:50px;" >
                    <a href ng-if="!mainCtrl.isLogin()" style="color: #fff; padding-right:10px;" data-toggle="modal" data-target="#loginModal" mydata="mydata">Log In</a>
                    <a href ng-if="!mainCtrl.isLogin()" style="color: #fff;" data-toggle="modal" data-target="#signUpModal" mydata="mydata">Sign Up</a>
                    <a ng-if="mainCtrl.isLogin()" style="color: #fff; padding-right:10px;" ng-href="#/allLive">Live</a>
                    <a ng-if="mainCtrl.isLogin()" style="color: #fff; " ng-href="#/allReplay">Replay</a>
                </div> 
                <div class="col-lg-12 hidden-xs" style="text-align:center; padding-top:30px;" >
                    <a href style="color: #fff; font-size:110%;" ng-click="mainCtrl.scrollDown()">
                        <span class="glyphicon glyphicon-triangle-bottom" style="" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-lg-12 hidden-xs" style="text-align:center;" >
                    <a href style="color: #fff; font-size:110%;" ng-click="mainCtrl.scrollDown()">
                        <span class="glyphicon glyphicon-triangle-bottom" style="" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-lg-12 hidden-xs" style="text-align:center;" >
                    <a href style="color: #fff; font-size:110%;" ng-click="mainCtrl.scrollDown()">
                        <span class="glyphicon glyphicon-triangle-bottom" style="" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-xs" id="live-videos">
        <br>
    </div>
    <div class="page-header">
        <h1>Live Now
        </h1>
    </div>
    <div class="row" style="display:flex; flex-wrap:wrap; padding-right: 10px;">
        <div ng-repeat="video in mainCtrl.liveVideos | limitTo: 8" class="tb col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <a ng-href="#/student/{{video.idLecture}}" class="darken">
                <img ng-src="{{video.image}}" class="img-responsive" alt="1"/>
                <div class="caption">
                    <a class="caption-link" ng-href="#/student/{{video.idLecture}}">{{video.courseName}} {{video.lectureNum}}: {{video.topic}}</a>
                    <p>by {{video.teacherFirstName}} {{video.teacherLastName}}</p>
                </div>
            </a>
        </div>
        <div class="container">
            <a class="pull-right" ng-href="#/allLive" style="color: #000000; font-size:30px;" ng-if="mainCtrl.liveVideos.length > 8">More</a>        
        </div>
    </div>
    <!--<ul class="grid caption-style">
        <li ng-repeat="video in mainCtrl.liveVideos | limitTo: 8" class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <figure>
                <a ng-href="#/student/{{video.idLecture}}"> <img ng-src="{{video.image}}" alt="img01">
                    <figcaption>
                        <h3>{{video.courseName}} {{video.lectureNum}}: {{video.topic}}</h3>
                        <span>by {{video.teacherFirstName}} {{video.teacherLastName}}</span>
                    </figcaption>
                </a>
            </figure>
            <div>
                <h4>{{video.topic}}</h4>
            </div>
        </li>
        <div class="container">
            <a ng-href="#/allLive" ng-if="mainCtrl.liveVideos.length > 8" style="font-size:130%;">More</a>
        </div>
    </ul>-->
    <div class="page-header">
        <h1>Popular Replay
        </h1>
    </div>
    <!--<div class="row" style="display:flex; flex-wrap:wrap;">
        <div ng-repeat="video in mainCtrl.replayVideos track by $index" ng-if="$index < 8" class="thumbnail col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <a ng-href="#/student/{{video.idLecture}}">
                <div class="imageWrapper" style="position: relative;">
                    <img ng-src="{{video.image}}" class="img-responsive img-thumbnail" alt="1" style="position: relative;"
                    />
                    <div class="img-overlay">
                        <img ng-src="images/play_icon.png" class="img-responsive play-icon" alt="play" />
                    </div>
                </div>
                <div class="caption">
                    <a ng-href="#/student/{{video.idLecture}}">{{video.courseName}} {{video.lectureNum}}: {{video.topic}}</a>
                    <p>by {{video.teacherFirstName}} {{video.teacherLastName}}</p>
                </div>
            </a>
        </div>
        <div class="container">
            <a ng-href="#/allReplay" ng-if="mainCtrl.replayVideos.length > 8">More</a>
        </div>
    </div>-->
    <!--<ul class="grid caption-style">
        <li ng-repeat="video in mainCtrl.replayVideos | limitTo: 8" class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <figure>
                <a ng-href="#/student/{{video.idLecture}}"> <img ng-src="{{video.image}}" alt="img01">
                    <figcaption>
                        <h3>{{video.courseName}} {{video.lectureNum}}: {{video.topic}}</h3>
                        <span>by {{video.teacherFirstName}} {{video.teacherLastName}}</span>
                    </figcaption>
                </a>
            </figure>
            <div>
                <h4>{{video.topic}}</h4>
            </div>
        </li>
        <div class="container">
            <a ng-href="#/allReplay" ng-if="mainCtrl.replayVideos.length > 8" style="font-size:130%;">More</a>
        </div>
    </ul>-->
    <div class="row" style="display:flex; flex-wrap:wrap; padding-right: 10px;" >
        <div ng-repeat="video in mainCtrl.replayVideos | limitTo: 8" class="tb col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <a ng-href="#/student/{{video.idLecture}}" class="darken">
                <img ng-src="{{video.image}}" class="img-responsive" alt="1"/>
                <div class="caption">
                    <a class="caption-link" ng-href="#/student/{{video.idLecture}}">{{video.courseName}} {{video.lectureNum}}: {{video.topic}}</a>
                    <p>by {{video.teacherFirstName}} {{video.teacherLastName}}</p>
                </div>
            </a>
        </div>
        <div class="container">
            <a class="pull-right" ng-href="#/allReplay" style="color: #000000; font-size:30px;" ng-if="mainCtrl.replayVideos.length > 8">More</a>        
        </div>
    </div>
</div>
<!--footer-->
<!--<div class="footer">
    <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the PROS</p>
    </div>
</div>-->