<!--header
<div class="page-header">
    <h1>BimoLive.com</h1>
</div>-->

<!--main body-->
<br>
<div class="container">
    <div class="page-header">
        <h1>Live Now
        </h1>
    </div>
    <div class="row" style="display:flex; flex-wrap:wrap;" ng-init="mainCtrl.init()">
        <div ng-repeat="video in mainCtrl.liveVideos track by $index" ng-if="$index < 8" class="thumbnail col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <a ng-href="#/student/{{video.idLecture}}">
                <div class="imageWrapper" style="position: relative;">
                    <img ng-src="{{video.image}}" class="img-responsive img-thumbnail" alt="1" style="position: relative;"
                    />
                    <div class="img-overlay">
                        <img ng-src="images/play_icon.png" class="img-responsive play-icon" alt="play" />
                    </div>
                </div>
                <div class="caption">
                    <a ng-href="#/student/{{video.idLecture}}">{{video.courseName}} {{video.lectureNum}}: {{video.topic}}</a>
                    <p>by {{video.teacherFirstName}} {{teacherLastName}}</p>
                </div>
            </a>
        </div>
        <div class="container">
            <a ng-href="#/moreLive" ng-if="mainCtrl.liveVideos.length > 8">More</a>
        </div>
    </div>
    <div class="page-header">
        <h1>Popular Replay
        </h1>
    </div>
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <div ng-repeat="video in mainCtrl.replayVideos track by $index" ng-if="$index < 8" class="thumbnail col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <a ng-href="#/student/{{video.idLecture}}">
                <div class="imageWrapper" style="position: relative;">
                    <img ng-src="{{video.image}}" class="img-responsive img-thumbnail" alt="1" style="position: relative;"
                    />
                    <div class="img-overlay">
                        <img ng-src="images/play_icon.png" class="img-responsive play-icon" alt="play" />
                    </div>
                </div>
                <div class="caption">
                    <a ng-href="#/student/{{video.idLecture}}">{{video.courseName}} {{video.lectureNum}}: {{video.topic}}</a>
                    <p>by {{video.teacherFirstName}} {{teacherLastName}}</p>
                </div>
            </a>
        </div>
        <div class="container">
            <a ng-href="#/moreReplay" ng-if="mainCtrl.replayVideos.length > 8">More</a>
        </div>
    </div>
</div>
<!--footer-->
<!--<div class="footer">
    <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the PROS</p>
    </div>
</div>-->