<br>
<div class="container">
    <div class="page-header" ng-init="courseDetailCtrl.init()">
        <h1>Course Detail
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <form ng-submit="courseDetailCtrl.updateToServer()">
                <div class="form-group">
                    <label class="control-label" for="image">Course picture:</label>
                    <div class="thumbnail col-lg-offset-4">
                        <img class="img-responsive img-thumbnail" ng-src="{{courseDetailCtrl.currentCourse.image}}">
                    </div>

                    <button class="btn btn-default btn-block btn-file col-lg-offset-2">
                        <p style="margin-bottom:0px;">Upload Picture <input type="file" id="course_pic" name="course_pic"/></p>
                        <!--<img id="loader" ng-src="images/loader.gif" class="img-responsive col-lg-offset-11" style="height:30px; width:30px; display:block; margin:auto;">-->
                        <div class="progress" id="progress">
                            <div class="progress-bar progress-bar-striped active" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                0%
                            </div>
                        </div>
                    </button>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Course name:</label>
                    <input type="text" class="form-control col-lg-offset-2" id="name" name="name" placeholder="{{courseDetailCtrl.currentCourse.name}}"
                    ng-model="courseDetailCtrl.currentCourse.name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="category">Category:</label>
                    <input type="text" class="form-control col-lg-offset-2" id="category" name="category" placeholder="{{courseDetailCtrl.currentCourse.category}}"
                    ng-model="courseDetailCtrl.currentCourse.category">
                </div>
                <div class="form-group">
                    <label class="control-label" for="level">Level:</label>
                    <input type="text" class="form-control col-lg-offset-2" id="level" name="level" placeholder="{{courseDetailCtrl.currentCourse.levelNumber}}"
                    ng-model="courseDetailCtrl.currentCourse.levelNumber">
                </div>
                <div class="form-group">
                    <label class="control-label" for="permissionCode">Permission code:</label>
                    <input type="text" class="form-control col-lg-offset-2" id="permissionCode" name="permissionCode" placeholder="{{courseDetailCtrl.currentCourse.permissionCode}}"
                    ng-model="courseDetailCtrl.currentCourse.permissionCode">
                </div>
                <div class="form-group">
                    <label class="control-label" for="startDate">Start date:</label>
                    <input type="text" class="form-control col-lg-offset-2" id="startDate" name="startDate" placeholder="{{courseDetailCtrl.currentCourse.startDate}}"
                    ng-model="courseDetailCtrl.currentCourse.startDate">
                </div>
                <div class="form-group">
                    <label class="control-label" for="endDate">End date:</label>
                    <input type="text" class="form-control col-lg-offset-2" id="endDate" name="endDate" placeholder="{{courseDetailCtrl.currentCourse.endDate}}"
                    ng-model="courseDetailCtrl.currentCourse.endDate">
                </div>
                <div class="form-group">
                    <label class="control-label" for="createDate">Date created:</label>
                    <input type="text" class="form-control col-lg-offset-2" id="createDate" name="createDate" placeholder="{{courseDetailCtrl.currentCourse.createDate}}"
                    ng-model="courseDetailCtrl.currentCourse.createDate">
                </div>
                <div class="form-group">
                    <label class="control-label" for="intro">Course description:</label>
                    <textarea class="form-control col-lg-offset-2" rows="5" id="intro" name="intro" placeholder="{{courseDetailCtrl.currentCourse.intro}}" 
                    ng-model="courseDetailCtrl.currentCourse.intro"></textarea>
                </div>
                <div class="control-group col-lg-offset-5 col-md-offset-3 col-sm-offset-3">
                    <button type="button" class="btn btn-lg btn-default" ng-click="courseDetailCtrl.resetData()">
                        <span class="glyphicon glyphicon-repeat"></span> Reset
                    </button>
                    <button type="submit" class="btn btn-lg btn-primary"">
                        <span class="glyphicon glyphicon-upload"></span> Update
                    </button>
                </div>
                <br>
            </form>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2">
            <div class="form-group">
                <label class="control-label" for="addLectureButton">Lectures:</label>
            </div>
        </div>
        <div class="row col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2" style="overflow: auto; margin-bottom: 50px; height: 300px;">   
            <div class="row" style="display:flex; flex-wrap:wrap;">
                <div ng-repeat="lecture in courseDetailCtrl.lectureList" class="thumbnail col-lg-4 col-md-4 col-sm-3 col-xs-6">
                    <a ng-href="#/lecturedetail/{{lecture.idLecture}}">
                        <div class="imageWrapper" style="position: relative;">
                            <img ng-src="{{lecture.image}}" class="img-responsive img-thumbnail" alt="1" style="position: relative;"
                            />
                        </div>
                        <div class="caption">
                            <a ng-href="#/lecturedetail/{{lecture.idLecture}}">Lecture #{{lecture.lectureNum}}: {{lecture.topic}}</a>
                            <p>Date: {{lecture.scheduleDate}}</p>
                            <p>Start Time: {{lecture.startTime}}</p>
                            <p>End Time: {{lecture.endTime}}</p>
                        </div>
                    </a>
                </div>
                <div class="thumbnail col-lg-4 col-md-4 col-sm-3 col-xs-6" id="add-course-thumbnail" name="addLectureButton">
                    <div id="add-course-wrapper">
                        <a href id="add-course-button" data-toggle="modal" data-target="#addLectureModal" mydata="mydata">
                            <button id="add-course-button" class="btn btn-default btn-circle btn-xl">
                                <span class="glyphicon glyphicon-plus" style="text-align: center;"></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--add course modal-->
<div ng-include="'views/modalViews/addlectureModal.html'"></div>
