<br>
<div class="container">
    <div class="page-header">
        <h1>Lecture #{{lectureDetailCtrl.currentLecture.lectureNum}}
        </h1>
    </div>
    <div class="row">
        <div class="input-group col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 ">
            <label class="control-label" for="lectureTopic" style="font-size: 150%;">Lecture Topic:</label>
            <input type="text" class="form-control col-lg-offset-2" id="lectureTopic" name="lectureTopic" placeholder="{{lectureDetailCtrl.currentLecture.topic}}"
            ng-modle="lectureDetailCtrl.currentLecture.topic">
        </div>
        <div class="input-group col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 ">
            <label class="control-label" for="scheduleDate" style="font-size: 150%;">Scheduled Date :</label>
            <input type="text" class="form-control col-lg-offset-2" id="scheduleDate" name="scheduleDate" placeholder="{{lectureDetailCtrl.currentLecture.scheduleDate}}"
            ng-modle="lectureDetailCtrl.currentLecture.scheduleDate">
        </div>
        <div class="input-group col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 ">
            <label class="control-label" for="startTime" style="font-size: 150%;">Start Time:</label>
            <input type="text" class="form-control col-lg-offset-2" id="endDate" name="startTime" placeholder="{{lectureDetailCtrl.currentLecture.startTime}}"
            ng-modle="lectureDetailCtrl.currentLecture.startTime">
        </div>
        <div class="input-group col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 ">
            <label class="control-label" for="endTime" style="font-size: 150%;">End Time:</label>
            <input type="text" class="form-control col-lg-offset-2" id="endTime" name="endTime" placeholder="{{lectureDetailCtrl.currentLecture.endTime}}"
            ng-modle="lectureDetailCtrl.currentLecture.endTime">
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-default btn-lg center-block" ng-show="!lectureDetailCtrl.isFinished" ng-click="lectureDetailCtrl.startLecture()">START LECTURE</button> 
    <button type="button" class="btn btn-default btn-lg center-block" ng-if="lectureDetailCtrl.currentLecture.status === 'replay'">REPLAY</button>
    <button class="btn btn-default btn-lg center-block btn-file" ng-show="lectureDetailCtrl.currentLecture.status === 'finish'"> 
        <p style="margin-bottom:0px;">Upload Replay Video <input type="file" id="lectureReplay" name="lectureReplay"/></p>
        <div class="progress" id="progress" style="display:none;">
            <div class="progress-bar progress-bar-striped active" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            </div>
            <p id="progress-text" style="display:none;">0%</p>
        </div>
    </button>
</div>
