<br>
<div class="container">
    <div class="page-header">
        <h1>My Courses
        </h1>
    </div>
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <div ng-repeat="course in courseCtrl.myCourses" class="thumbnail col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <a ng-href="#/course/{{course.id}}">
                <div class="imageWrapper" style="position: relative;">
                    <img ng-src="images/thumbnail_pics/{{course.id}}.png" class="img-responsive img-thumbnail" alt="1" style="position: relative;"
                    />
                </div>
                <div class="caption">
                    <a ng-href="#/course/{{course.id}}">{{course.name}}</a>
                    <p>by {{course.presenter}}</p>
                    <p>Current View: {{courseCtrl.viewNumber}}</p>
                </div>
            </a>
        </div>
        <div id="add-course-thumbnail" class="thumbnail col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div id="add-course-wrapper">
                <a href id="add-course-button" data-toggle="modal" data-target="#addCourseModal" mydata="mydata">
                    <button id="add-course-button" class="btn btn-default btn-circle btn-xl">
                        <span class="glyphicon glyphicon-plus" style="text-align: center;"></span>
                    </button>
                </a>
            </div>
        </div>

    </div>
</div>

<!--add course modal-->
<div ng-include="'views/modalViews/addcourseModal.html'"></div>