<br>
<div class="container">
    <div class="page-header">
        <h1>Questions 
            <div class="pull-right hidden-xs">
                <h2>Section ID : {{teacherCtrl.sectionId}}</h2> 
                <h2 style="padding-left:10px;">Current Viewer : </h2> <h2>20</h2>
            </div>
            <div class="pull-right hidden-lg hidden-md hidden-sm">
                <h2><span class="glyphicon glyphicon-asterisk"></span> : </h2>
                <h2>35150</h2>
                <h2 style="padding-left:10px;"><span class="glyphicon glyphicon-eye-open"></span> : </h2>
                <h2>20</h2>
            </div>
        </h1>
    </div>
</div>
<!--<div class="container hidden-lg hidden-md hidden-sm"></div>-->
<div class="container">
    <div class="row">
        <ul id="questions" class="list-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12"
        ng-repeat="question in teacherCtrl.questions track by $index">
            <a href class="list-group-item" data-toggle="modal" data-target="#questionModal" mydata="question.content" ng-click="teacherCtrl.setCurrentQuestion(question, $index)">
                <h4 class="list-group-itme-heading">
                Question from {{question.username}}
            </h4>
                <p class="list-group-item-text">
                    {{question.content}}
                </p>
            </a>
        </ul>
    </div>
</div>

<!--question modal-->
<div ng-include="'views/modalViews/questionModal.html'"></div>