<!-- add lecture Modal -->
<div class="modal fade" id="addLectureModal" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lecture #{{courseDetailCtrl.lectureList.length + 1}}</h4>
            </div>
            <div class="modal-body">
                <form name="courseDetailCtrl.newLectureForm" id="newLectureForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : courseDetailCtrl.newLectureForm.topic.$invalid && !courseDetailCtrl.newLectureForm.topic.$pristine }">
                        <label class="control-label" for="topic">Lecture topic</label>
                        <input type="text" class="form-control" id="topic" name="topic" ng-model="courseDetailCtrl.newLecture.topic"
                        required>
                        <p ng-show="courseDetailCtrl.newLectureForm.topic.$invalid && !courseDetailCtrl.newLectureForm.topic.$pristine" class="help-block">Lecture topic is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : !courseDetailCtrl.newLectureForm.scheduleDate.$pristine && !courseDetailCtrl.isscheduleDateValid() }">
                        <label class="control-label" for="scheduleDate">Schedule Date</label>
                        <p class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="courseDetailCtrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="text" class="form-control" id="scheduleDate" name="scheduleDate" uib-datepicker-popup="{{courseDetailCtrl.format}}" ng-model="courseDetailCtrl.newLecture.scheduleDate" is-open="courseDetailCtrl.popup1.opened" min-date="courseDetailCtrl.minDate"
                            max-date="courseDetailCtrl.maxDate" datepicker-options="courseDetailCtrl.dateOptions" ng-required="true"
                            close-text="Close"/>
                        </p>
                        <p ng-show="!courseDetailCtrl.newLectureForm.scheduleDate.$pristine && !courseDetailCtrl.isscheduleDateValid() " class="help-block">{{courseDetailCtrl.scheduleDateErrMsg}}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="intro">Start time</label>
                        <uib-timepicker ng-model="courseDetailCtrl.newLecture.startTime" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="intro">End time</label>
                        <uib-timepicker ng-model="courseDetailCtrl.newLecture.endTime" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker>
                    </div>
                    <div class="form-group" >
                        <label class="control-label" for="intro">Lecture description</label>
                        <textarea type="text" class="form-control" id="intro" name="intro" ng-model="courseDetailCtrl.newLecture.intro"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="submit" class="btn btn-default" ng-click="courseDetailCtrl.createNewLecture()">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="courseDetailCtrl.clearForm()">Cancel</button>
                </div>

            </div>
        </div>

    </div>
</div>