<!-- Apply to teach Modal -->
<div class="modal fade" id="applyToTeachModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Apply to teach</h4>
            </div>
            <div class="modal-body">
                <form name="teacherApply" id="applicationForm" ng-submit="profileCtrl.teacherApply()" novalidate>
                    <div class="form-group">
                        <label class="control-label" for="profile">Resume</label>
                        <button type="button" class="btn btn-lg btn-default btn-block" data-toggle="modal" data-target="#uploadProfilePicModal" >Upload Resume</button>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="intro">Self Introduction:</label>
                        <textarea class="form-control" rows="5" id="intro" name="intro" placeholder="{{profileCtrl.user.introWords}}" 
                        ng-model="profileCtrl.user.introWords"></textarea>
                    </div>
                    <input type="submit" ng-hide="1">
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" ng-click="profileCtrl.teacherApply()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>

    </div>
</div>