<!-- Permission Modal -->
<div class="modal fade" id="permissioncodeModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Permission Code Required</h4>
            </div>
            <div class="modal-body">
                <form name="permissionForm" id="permissionForm" ng-submit="studentCtrl.submitPermission()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : studentCtrl.notPermitted }">
                        <label class="control-label" for="permissioncode">Please enter the permission code</label>
                        <input type="permissioncode" class="form-control" id="permissioncode" name="permissioncode" placeholder="permissioncode" ng-model="studentCtrl.permissioncode" required>
                        <p ng-show=" studentCtrl.notPermitted " class="help-block"> Permission code is not valid.</p>
                        <!--<img ng-show=" studentCtrl.showLoader" ng-src="images/loader.gif" class="img-responsive" style="padding-top:20px; height:50px; width:30px; display:block; margin:auto;">-->
                    </div>
                    <input type="submit" ng-hide="1">
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="submit" class="btn btn-default" ng-click="studentCtrl.submitPermission()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="studentCtrl.redirectBack()">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>