<nav class="leftNav" ng-mouseenter="toggleCtrl.toggleNav(1)" ng-mouseleave="toggleCtrl.toggleNav(0)">
    <div class="row">
        <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jumbotron" ng-if="!mainCtrl.isLogin">
                <li><a href data-toggle="modal" data-target="#loginModal" mydata="mydata">Log In</a></li>
                <li><a href data-toggle="modal" data-target="#signUpModal" mydata="mydata">Sign Up</a></li>
            </div>
            <div class="jumbotron" ng-if="mainCtrl.isLogin">
                <a ng-href="#/profile">
                    <li id="profile-pic" >
                        <img class="img-responsive img-circle" ng-src="{{mainCtrl.currentUser.profile}}" alt="profile">
                        <li style="text-align: center; color:#f1f1f1;" ng-if="mainCtrl.currentUser.roleLevel === 2">Teacher</li>
                        <li style="text-align: center; color:#f1f1f1;" ng-if="mainCtrl.currentUser.roleLevel === 1">Student</li>
                    </li>
                </a>
                <br>
                <li><a ng-href="#/profile">Account Setting</a></li>
                <li ng-click="mainCtrl.logout()"><a>Log Out</a></li>
            </div>
            <li><a ng-href="#/mycourses" ng-if="mainCtrl.currentUser.roleLevel === 2">My Courses</a></li>
            <li><a ng-href="#/followedTeachers" >Followed Teachers</a></li>
            <li><a ng-href="#/followedCourses" >Followed Courses</a></li>
        </ul>
    </div>
</nav>