<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Button that toggles the navbar on and off on small screens -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"
            aria-expanded="false">
                <!-- Hides information from screen readers -->
                <span class="sr-only"></span>

                <!-- Draws 3 bars in navbar button when in small mode -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="pull-left" ng-href="#/" style="max-width: 106px;" id="logo">
                <img ng-src="images/Untitled-1.png" class="img-responsive" style="padding: 10px;" >
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">Home</a></li>
                <li><a ng-href="#/admin" ng-if="mainCtrl.currentUser.roleLevel === 0">Admin</a></li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learn <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#/allLive">Live Now</a></li>
                        <li><a ng-href="#/allReplay">Replay Videos</a></li>
                        <li><a ng-href="#/allCourses">Find Courses</a></li>
                        <li><a ng-href="#/followedTeachers">Followed Teachers</a></li>
                        <li><a ng-href="#/followedCourses">Followed Courses</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="mainCtrl.currentUser.roleLevel === 2">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teach <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#/mycourses">My Courses</a></li>
                    </ul>
                </li>
                <li><a ng-href="#/">How to Use</a></li>
                <li><a ng-href="#/about">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="!mainCtrl.isLogin">
                <li><a href data-toggle="modal" data-target="#loginModal" mydata="mydata">Log In</a></li>
                <li><a href data-toggle="modal" data-target="#signUpModal" mydata="mydata">Sign Up</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="mainCtrl.isLogin">
                <a class="pull-right" ng-href="#/profile" style="max-width: 50px; padding:10px;">
                    <img ng-src="{{mainCtrl.currentUser.profile}}" class="img-responsive img-circle"  alt="profile">
                </a>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{mainCtrl.currentUser.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#/profile">Account Setting</a></li>
                        <li ng-click="mainCtrl.logout()"><a>Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- navbar-left will move the search to the left -->
            <!--<form class="navbar-form navbar-right" role="search" ng-submit="topCtrl.search()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="topCtrl.words">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
        </div>
    </div>
</nav>