<br>
<div class="container">
    <div class="page-header">
        <h1>About Us
        </h1>
    </div>
</div>
<div class="container" style="padding-left:10px;">
    <img src="https://s3-us-west-2.amazonaws.com/bimolive-pictures/profile_pics/zhong.png" alt="" style="max-height:180px; width:auto; padding-top:30px;" 
        class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
        <h1 style="font-size:33px;">Xiangyu Zhong</h1>
        <p style="font-size:20px;">Scrum master of team The PROS. fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;.</p>
        <p style="font-size:20px;">Email: xyz017048@gmail.com</p>
        <p style="font-size:20px;">Phone: 801-935-1368</p>
        <a style="font-size:20px;" href="https://s3-us-west-2.amazonaws.com/bimolive-pictures/profile_pics/XIANGYU+ZHONG+Resume.pdf">Resume</a>
    </div>
    <img src="https://s3-us-west-2.amazonaws.com/bimolive-pictures/profile_pics/huan.png" alt="" style="max-height:180px; width:auto; padding-top:30px;" 
        class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
        <h1 style="font-size:33px;">Chonghuan Xia</h1>
        <p style="font-size:20px;">fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;</p>
        <p style="font-size:20px;">Email: ?</p>
        <p style="font-size:20px;">Phone: ?</p>
        <a style="font-size:20px;" href="">Resume</a>        
    </div>
    <img src="https://s3-us-west-2.amazonaws.com/bimolive-pictures/profile_pics/sam.png" alt="" style="max-height:180px; width:auto; padding-top:30px;" 
        class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
        <h1 style="font-size:33px;">Shengzi Hong</h1>
        <p style="font-size:20px;">fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;</p>
        <p style="font-size:20px;">Email: ?</p>
        <p style="font-size:20px;">Phone: ?</p>
        <a style="font-size:20px;" href="">Resume</a>        
    </div>
    <img src="https://s3-us-west-2.amazonaws.com/bimolive-pictures/profile_pics/xueyang.png" alt="" style="max-height:180px; width:auto; padding-top:30px;" 
        class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
        <h1 style="font-size:33px;">Xueyang Han</h1>
        <p style="font-size:20px;">fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;fsdfdsfdsfdsfdssfmdksla;fnd fndksa;fnj fnos;afnjds fndjsa ;fndjska; fndjs;</p>
        <p style="font-size:20px;">Email: xyz017048@gmail.com</p>
        <p style="font-size:20px;">Phone: ?</p>
        <a style="font-size:20px;" href="">Resume</a>        
    </div>
</div>