<br>
<div class="container">
    <div class="page-header">
        <h1>Instructions
        </h1>
    </div>
</div>
<div class="row" style="padding-left:10px; font-size:15px;">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="position: fixed;">
        <div class="list-group inst-item">
            <a href class="list-group-item " ng-click="aboutCtrl.scrollRegister()">Register</a>
            <a href class="list-group-item " ng-click="aboutCtrl.scrollWatchLive()">Student: Watch Live</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollWatchReplay()">Student: Watch Replay</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollFollow()">Student: Follow Course and Teacher</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollSearch()">Student: Search</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollApply()">Student: Apply to Teach</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollOBSW()">Teacher: OBS Set Up(Windows)</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollOBSM()">Teacher: OBS Set Up(Mac)</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollCreate()">Teacher: Create Course and Lecture</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollStart()">Teacher: Start Lecture</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollUpload()">Teacher: Upload Replay Video</a>
        </div>
    </div>
    <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-5 col-xs-offset-7">
        <div id="register">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Register</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Register00.png" alt="Register00">
            <p style="font-size:20px;">&nbspClick <font style="color: red;">"Sign up"</font> button to sign up.</p>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Register01.png" alt="Register01">
            <p style="font-size:20px;">&nbspFill out all the information.</p>
        </div>
        <div id="watchLive">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Watch Live</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Student_ Watch _Live00.png" alt="Student_ Watch _Live00">
            <p style="font-size:20px;">After logged in.</p>
            <p style="font-size:20px;">Click <font style="color: red;">"live"</font> to watch all the live streaming.</p>
            <p style="font-size:20px;">Or at the top navigation bar, click <font style="color: red;">"Learn"</font>, in the submenu, select <font style="color: red;">"LiveNow"</font> to watch all the live streaming.</p>
        </div>
        <div id="watchReplay">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Watch Replay</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Student_ Watch _Replay00.png" alt="Student_ Watch _Replay00">
            <p style="font-size:20px;">After logged in.</p>
            <p style="font-size:20px;">Click <font style="color: red;">"Replay"</font> to watch all the available replay videos.</p>
            <p style="font-size:20px;">Or at the top navigation bar, click <font style="color: red;">"Learn"</font>, in the submenu, select <font style="color: red;">"Replay Videos"</font> to watch all the available replay videos.</p>
        </div>
        <div id="follow">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Follow Course and Teacher</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Student_Follow_Course_and_Teacher00.png" alt="Student_Follow_Course_and_Teacher00">
            <p style="font-size:20px;">After logged in.</p>
            <p style="font-size:20px;">Choose one of the live videos or replay videos.</p>
            <p style="font-size:20px;">On the top right corner, click <font style="color: red;">"Follow Teacher"</font> or <font style="color: red;">"Follow Course".</font></p>
        </div>
        <div id="search">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Search</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Student_Search00.png" alt="Student_Search00">
            <p style="font-size:20px;">After logged in.</p>
            <p style="font-size:20px;">On the top right corner, there is a <font style="color: red;">"search textbox"</font>.</p>
            <p style="font-size:20px;">Type keyword, and click the <font style="color: red;">"search icon"</font> to search.</p>
            <p style="font-size:20px;">Search for teacher's name or course's name</p>
        </div>
        <div id="apply">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Apply to Teach</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Student_Apply_to_Teach00.png" alt="Student_Apply_to_Teach00">
            <p style="font-size:20px;">Go to your profile, before apply to teach.</p>
            <p style="font-size:20px;">Two ways to go to your profile.</p>
            <p style="font-size:20px;">On the top right corner</p>
            <p style="font-size:20px;">First, click your <font style="color: red;">"account name"</font>, in the submenu, select <font style="color: red;">"Account Setting"</font></p>
            <p style="font-size:20px;">Second, click your <font style="color: red;">"profile picture"</font>.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Student_Apply_to_Teach01.png" alt="Student_Apply_to_Teach01">
            <p style="font-size:20px;">Now, in your account setting page.</p>
            <p style="font-size:20px;">On the top of middle of the page.</p>
            <p style="font-size:20px;">Click <font style="color: red;">"Apply to teach"</font>.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Student_Apply_to_Teach02.png" alt="Student_Apply_to_Teach02">
            <p style="font-size:20px;">Fill out the form, and click <font style="color: red;">"Submit"</font> button to submit the form.</p>
        </div>
        <div id="OBSW">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: OBS Set Up(Windows)</h1>
            <p style="font-size:20px;">Go to <a target="_blank" href="https://obsproject.com/">https://obsproject.com</a> , download OBS for <font style="color: red;">windows</font>.</p>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/OBS_windows00.png" alt="OBS_windows00">
            <p style="font-size:20px;">Open the OBS, and click <font style="color: red;">"Setting" button</font>.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/OBS_windows01.png" alt="OBS_windows01">
            <p style="font-size:20px;">On the setting page.</p>
            <p style="font-size:20px;">Select <font style="color: red;">"Broadcast Settings"</font>.</p>
            <p style="font-size:20px;">On the <font style="color: red;">"Broadcast Settings"</font> page, put <font style="color: red;">"rtmp://52.33.149.173/live"</font> into <font style="color: red;">"FMS URL"</font>.</p>
            <p style="font-size:20px;">On the <font style="color: red;">"Broadcast Settings"</font> page, put <font style="color: red;">"key, which is in your account setting page"</font> into <font style="color: red;">"Play Path/Stream Key(if any)</font>.</p>
            <p style="font-size:20px;">Click <font style="color: red;">"OK"</font> to save the setting.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/OBS_windows02.png" alt="OBS_windows02">
            <p style="font-size:20px;">Finally, click <font style="color: red;">"Start Streaming"</font>. and <font style="color: red;">"Start Recording"</font> (if you need to upload your video lately, saving record as mp4 format).</p>
        </div>
        <div id="OBSM">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: OBS Set Up(Mac)</h1>
            <p style="font-size:20px;">Go to <a target="_blank" href="https://obsproject.com/">https://obsproject.com</a> , download OBS for <font style="color: red;">mac</font>.</p>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/OBS_mac_00.png" alt="OBS_mac_00">
            <p style="font-size:20px;">Open the OBS, and click <font style="color: red;">"Setting" button</font>.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/OBS_mac_01.png" alt="OBS_mac_01">
            <p style="font-size:20px;">On the setting page.</p>
            <p style="font-size:20px;">Select <font style="color: red;">"Stream"</font>.</p>
            <p style="font-size:20px;">On the <font style="color: red;">"Stream"</font> page, put <font style="color: red;">"rtmp://52.33.149.173/live"</font> into <font style="color: red;">"URL"</font>.</p>
            <p style="font-size:20px;">On the <font style="color: red;">"Stream"</font> page, put <font style="color: red;">"key, which is in your account setting page"</font> into <font style="color: red;">"Stream Key"</font>.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/OBS_mac_02.png" alt="OBS_mac_02">
            <p style="font-size:20px;">Select <font style="color: red;">"Output"</font>.</p>
            <p style="font-size:20px;">On the <font style="color: red;">"Output"</font> page, choose a <font style="color: red;">"Recording Path"</font>.</p>
            <p style="font-size:20px;">On the <font style="color: red;">"Output"</font> page, choose <font style="color: red;">"mp4"</font> for <font style="color: red;">"Recording Format"</font>.</p>
            <p style="font-size:20px;">Click <font style="color: red;">"OK"</font> to save the setting.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/OBS_mac_03.png" alt="OBS_mac_03">
            <p style="font-size:20px;">Finally, click <font style="color: red;">"Start Streaming"</font>. and <font style="color: red;">"Start Recording"</font> (if you need to upload your video lately, saving record as mp4 format).</p>
        </div>
        <div id="create">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: Create Course and Lecture</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Teacher_Create_Course_and_Lecture00.png" alt="Teacher_Create_Course_and_Lecture00">
            <p style="font-size:20px;">On the navigation bar, click <font style="color: red;">"Teach"</font>, select <font style="color: red;">"My Courses"</font>.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Teacher_Create_Course_and_Lecture01.png" alt="Teacher_Create_Course_and_Lecture01">
            <p style="font-size:20px;">Click <font style="color: red;">"Cross Icon"</font> to add a course.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Teacher_Create_Course_and_Lecture02.png" alt="Teacher_Create_Course_and_Lecture02">
            <p style="font-size:20px;">Fill out the form, and click <font style="color: red;">"Create"</font> button to create a course.</p>

            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Teacher_Create_Course_and_Lecture03.png" alt="Teacher_Create_Course_and_Lecture03">
            <p style="font-size:20px;">Click the course that just created.</p>
            <p style="font-size:20px;">Choose <font style="color: red;">"START A LECTURE"</font> or <font style="color: red;">"Cross Icon"</font> to create a lecture</p>
        </div>
        <div id="start">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: Start Lecture</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Teacher_Start_Lecture00.png" alt="Teacher_Start_Lecture00">
            <p style="font-size:20px;">After added a lecture.</p>
            <p style="font-size:20px;">Click one of the lectures.</p>
            <p style="font-size:20px;">In the lecture page, click <font style="color: red;">"START LECTURE"</font> button to start a lecture.</p>
        </div>
        <div id="upload">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: Upload Replay Video</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/instructions/Teacher_Upload_Replay_Video00.png" alt="Teacher_Upload_Replay_Video00">
            <p style="font-size:20px;">After end the lecture, you can go ahead and upload the record video via click <font style="color: red;">"Upload Replay Video"</font>.</p>
        </div>
    </div>
</div>