<br>
<div class="container">
    <div class="page-header">
        <h1>Instructions
        </h1>
    </div>
</div>
<div class="row" style="padding-left:10px; font-size:15px;">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="position: fixed;">
        <div class="list-group inst-item">
            <a href class="list-group-item " ng-click="aboutCtrl.scrollRegister()">Register</a>
            <a href class="list-group-item " ng-click="aboutCtrl.scrollWatchLive()">Student: Watch Live</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollWatchReplay()">Student: Watch Replay</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollFollow()">Student: Follow Course and Teacher</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollSearch()">Student: Search</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollApply()">Student: Apply to Teach</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollOBSW()">Teacher: OBS Set Up(Windows)</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollOBSM()">Teacher: OBS Set Up(Mac)</a>            
            <a href class="list-group-item" ng-click="aboutCtrl.scrollCreate()">Teacher: Create Course and Lecture</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollStart()">Teacher: Start Lecture</a>
            <a href class="list-group-item" ng-click="aboutCtrl.scrollUpload()">Teacher: Upload Replay Video</a>
        </div>
    </div>
    <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-5 col-xs-offset-7">
        <div id="register">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Register</h1>
            <img class="img-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px; padding-bottom: 5px;" src="images/thumbnail_pics/0.png" alt="Register">
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="watchLive">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Watch Live</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="watchReplay">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Watch Replay</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="follow">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Follow Course and Teacher</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="search">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Search</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="apply">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Student: Apply to Teach</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="OBSW">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: OBS Set Up(Windows)</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="OBSM">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: OBS Set Up(Mac)</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="create">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: Create Course and Lecture</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="start">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: Start Lecture</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
        <div id="upload">
            <br>
        </div>
        <div class="form-group">
            <h1 style="font-size:33px;">Teacher: Upload Replay Video</h1>
            <p style="font-size:20px;">famkflafdsfds fdsf dsf fsd fgs</p>
        </div>
    </div>
</div>